body {
    background-color: #111;
    color: white;
    font-family: Arial;
    margin: 0;
}

.main {
    max-width: 1200px;
    margin: auto;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

.navbar {
    background: #000;
    padding: 15px 20px;
    position: sticky;
    top: 0;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
}

/* Style for video containers */
.container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 20px;
}

/* Style for videos */
iframe {
    width: 300px;
    height: 180px;
    border-radius: 10px;
    transition: 0.3s;
}

iframe:hover {
    transform: scale(1.05);
}

.card {
    background: #1c1c1c;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.card:hover {
    transform: scale(1.08);
    background: #2a2a2a;
}